<table class="table table-dark table-hover table-striped">
    <tr>
        <th th:text="#{car.table.name}"></th>
        <th th:text="#{car.table.registrationNumber}"></th>
        <th th:text="#{car.table.productionYear}"></th>
        <th th:text="#{car.table.color}"></th>
        <th th:text="#{car.table.serviceDate}"></th>
        <th th:text="#{car.table.isFixed}"></th>
        <th th:text="#{car.table.fixAsterisk}"></th>
    </tr>
    <tr th:each="car, iterator : ${cars}">
        <td th:text="${car.name}"></td>
        <td th:text="${car.registrationNumber}"></td>
        <td th:text="${car.productionYear}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.serviceDate}"></td>
        <td th:text="${car.isFixed}"></td>
        <td>
            <form th:action="@{/cars/fix/{registrationNumber}(registrationNumber=${car.registrationNumber})}" th:method="post">
                <button type="submit" th:text="#{car.table.fix}" th:class="'btn btn-success'"></button>
            </form>
        </td>
    </tr>
</table>